@using FamilyActivity.WebMvc.Models
@model FamilyActivity.WebMvc.Models.ModelActivityDays

@{
    ViewData["Title"] = "Create";
}

@{
    var outcomeList = Html.GetEnumSelectList<FamilyActivity.WebMvc.Enums.DayOfWeek>().Where(l => int.Parse(l.Value) >= 0).ToList();
    var dayOfWeekList = new List<SelectListItem>();
    dayOfWeekList = outcomeList;
}

@{
    var activities = Html.GetEnumSelectList<FamilyActivity.WebMvc.Enums.ActivityName>().Where(l => int.Parse(l.Value) >= 0).ToList();
    var activitiesList = new List<SelectListItem>();
    activitiesList = activities;
}

@{
    var activitiePersons = Html.GetEnumSelectList<FamilyActivity.WebMvc.Enums.PersonFamily>().Where(l => int.Parse(l.Value) >= 0).ToList();
    var activitiePersonList = new List<SelectListItem>();
    activitiePersonList = activitiePersons;
}

<h1>Create</h1>

<h4>Activity View</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="@Model.ModelPictureActivity.ActivityName" class="control-label"></label>
                <select asp-for="ModelPictureActivity.ActivityName" id="activitiesSelect" asp-items="activitiesList" class="form-control">
                    <option selected="ModelPictureActivity.ActivityName">Please select</option>
                </select>
                <span asp-validation-for="@Model.ModelPictureActivity.ActivityName" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>

            <label asp-for="@Model.ModelPersonFamily.PersonName" class="control-label"></label>
            <select asp-for="ModelPersonFamily.PersonName" id="activitiesSelect" asp-items="activitiePersonList" class="form-control">
                <option selected="ModelPersonFamily.PersonName">Please select person</option>
            </select>
            <span asp-validation-for="@Model.ModelPersonFamily.PersonName" class="text-danger"></span>

            <div class="form-group">
                <label asp-for="DayOfWeek" class="control-label"></label>
                <select asp-for="DayOfWeek" id="dayOfWeekSelect" asp-items="dayOfWeekList" class="form-control">
                    <option selected="DayOfWeek">Please select</option>
                </select>
                <span asp-validation-for="DayOfWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input onclick="handlesave()" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <script>
        function handlesave() {
            var email = $('#name').val();
            //validation
            if (email != "" && email != null) {
                $('#name').css('background-color', '#daedeb');
            }
            else {
                $('#name').css('background-color', 'red');
            }
        }
    </script>


</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}