@{
    ViewData["Title"] = "Home Page";
    var environment = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT");
}

<div class="text-center">
    <h1 class="display-4">Welcome (@environment)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row align-items-center vh-25">
        <div class="col-6 mx-auto" style="display: flex; justify-content: center; align-items: center;">
            <div class="card shadow border">
                <div class="card-body d-flex flex-column align-items-center" style="width: 18rem; ">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1606092195730-5d7b9af1efc5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <div class="card-body">
                        <h5 class="card-title">WELCOME </h5>
                        <p style="font-family: cursive; font-size: 14px;" class="card-text">Family activity</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
