html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #aec0bd;
}

a:link, a:visited {
  background-color: #7ea048;
  color: rgb(29, 26, 26);
  padding: 7px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin: 1px;
}

a:hover, a:active {
  background-color: rgb(164, 118, 202);
}